<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- defaults-biz-prod.xml 文件位于kpu-cloud或kpu-boot 的 kpu-public/kpu-common/src/main/resources -->
    <include resource="defaults-biz-prod.xml"/>

    <logger name="cn.lmx.kpu.openapi.controller" additivity="true" level="${log.level.controller}">
        <appender-ref ref="ASYNC_CONTROLLER_APPENDER"/>
    </logger>
    <logger name="cn.lmx.kpu.openapi.service" additivity="true" level="${log.level.service}">
        <appender-ref ref="ASYNC_SERVICE_APPENDER"/>
    </logger>
    <logger name="cn.lmx.kpu.openapi.manager" additivity="true" level="${log.level.service}">
        <appender-ref ref="ASYNC_SERVICE_APPENDER"/>
    </logger>

    <!-- 可以在这里自定义规则 -->
</configuration>
